In [119]:
print ("Hellow World!")

Hellow World!

In [120]:
x=5

In [121]:
print(x)

5

In [122]:
x

5

In [123]:
name = 'Anati'

In [124]:
type(name)

str

In [125]:
type(x)

int

In [126]:
print('Doing some data science!')

Doing some data science!

In [127]:
print(1 + 1)

2

In [128]:
my_list = [1,2,3,4]
print(my_list)

[1, 2, 3, 4]

In [129]:
my_list = ['list', 'of', 'strings']

In [130]:
my_list = [1,'list', False, []]

In [131]:
my_list = [[1,2,3],[False,True],[]]

In [132]:
len(my_list)

3

In [133]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [134]:
type(my_set)

set

In [135]:
len(my_set)

5

In [136]:
my_set = {1,1,2,2}
len(my_set)
print(my_set)

{1, 2}

In [137]:
print(4*5)

20

In [138]:
20/6

3.3333333333333335

In [139]:
20%6

2

In [140]:
'string 1 ' + 'string 2'

'string 1 string 2'

In [141]:
'- string 1 -' * 4

'- string 1 -- string 1 -- string 1 -- string 1 -'

In [142]:
a = True
if a:
    print('It is true!')
    print("Also print this")
else:
    print('It is false')
print('Always print this')

It is true!
Also print this
Always print this

In [143]:
a = True 
b = False
c = True
if a:
    print('It is true!')
    print('Also print this')
    if b:
        print('Both are true')
        if c:
            print('All three are true')
else:
    print('It is flase!')
print('Always print this')

It is true!
Also print this
Always print this

In [144]:
a = [1,2,3,4,5]
for number in a:
    print (number)

1
2
3
4
5

In [145]:
def  multiplyByThree(val):
    return 3 * val
multiplyByThree(4)

12

In [146]:
def multiply(val1, val2):
    return val1 * val2

In [147]:
multiply(3, 4)

12

In [148]:
a = [1,2,3]
def appendFour(myList):
    myList.append(4)
    
appendFour(a)
print(a)

[1, 2, 3, 4]

In [149]:
print(print('Hello, World!'))

Hello, World!
None

In [150]:
type(None)

NoneType

In [151]:
class Dog:
    def __init__(self,name):
        self.name = name
        self.legs = 4

    def speak(self):
        print(self.name + ' says: Bark!')

In [152]:
my_dog = Dog('Rover')
another_dog = Dog('Fluffy')

In [153]:
my_dog.speak()

Rover says: Bark!

In [154]:
20/4

5.0

In [155]:
4+4.0

8.0

In [156]:
4*4.0

16.0

In [157]:
4**4.0

256.0

In [158]:
int(4**4.0)

256

In [159]:
int(8.9)

8

In [160]:
int(14/3)

4

In [161]:
round(14/3,2)

4.67

In [162]:
1.2-1.0

0.19999999999999996

In [163]:
round(1.55-1.0,2)

0.55

In [164]:
int('100')

100

In [165]:
int('100',2)

4

In [166]:
int('1ab',16)

427

In [167]:
bool(1)

True

In [168]:
bool(0)

False

In [169]:
name = 'My name is Iron-man'

In [170]:
name[0]

'M'

In [171]:
name[1]

'y'

In [172]:
name[0:7]

'My name'

In [173]:
name[11:]

'Iron-man'

In [174]:
myList = [1,2,3,4,5]

In [175]:
myList[2:4]

[3, 4]

In [176]:
len(name)

19

In [11]:
# Multi-line String

myString = '''
Here is a long block of text 
I can add newlines!
the text doesn't stop until it sees\'\'\'
'''

In [12]:
myString

"\nHere is a long block of text \nI can add newlines!\nthe text doesn't stop until it sees'''\n"

In [14]:
print(myString)

Here is a long block of text
I can add newlines!
the text doesn't stop until it sees'''

In [16]:
#Bytes 

bytes(4)

b'\x00\x00\x00\x00'

In [21]:
smileyBytes = bytes('😊', 'utf-8')
smileyBytes

b'\xf0\x9f\x98\x8a'

In [23]:
smileyBytes.decode('utf-8')

'😊'

In [24]:
smileyBytes = bytearray('😊', 'utf-8')

In [33]:
smileyBytes

bytearray(b'\xf0\x9f\x98\x85')

In [35]:
#Lists

myList = [1,2,3,4,5]
myList[3:]

[4, 5]

In [37]:
myList[0:6:3]

[1, 4]

In [39]:
myList[0:6:2]

[1, 3, 5]

In [41]:
myList[::2]

[1, 3, 5]

In [42]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [43]:
myList = list(range(100))

In [44]:
myList[::10]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [46]:
myList[::-10]

[99, 89, 79, 69, 59, 49, 39, 29, 19, 9]

In [55]:
#Modifying Lists

myList = [1,2,3,4]
myList.append(5)
print(myList)

[1, 2, 3, 4, 5]

In [58]:
myList.insert(3,'a new value')
print(myList)

[1, 2, 3, 'a new value', 'a new value', 4, 5]

In [60]:
myList

[1, 2, 3, 'a new value', 'a new value', 4, 5]

In [61]:
myList.pop()

5